all:
    vars:
        itch_version: "1.0.3"
        ansible_ssh_private_key_file: {{ ansible_ssh_private_key_file }}
        ansible_user: {{ ansible_user }}

nodes:
    hosts:
{% for server in servers.values() %}
        {{ server.PublicIP }}: 
            private_ip: "{{ server.PrivateIP }}"
{% endfor %}

loadgenerators:
    hosts:
{% for server in perftesters.values() %}
        {{ server.PublicIP }}: 
            private_ip: "{{ server.PrivateIP }}"
{% endfor %}

mc:
    hosts:
{% for server in viewers.values() %}
        {{ server.PublicIP }}: 
            private_ip: "{{ server.PrivateIP }}"
{% endfor %}
